<div class="jumbotron" >
  <div class="" align="center">
    <h3> About Us:</h3>
    <!--<h3> Mæsoft, Organizacion comprometida con la excelencia orientada a aplicaciones web, es una pequeña Start Up creada
    en la Facultad de ingenieria Mecanica por un grupo de jovenes, dispuestos a crear y mejorar diferentes aspectos de la sociedad.
    </h3>
  <h3> La organizacion surgio a partir de una idea de tres jovenes emprendedores, cansados de ver como la sociedad iba en decadencia
    cada vez mas.-->
    <h2>JURB<h2>
      <h2 align="center"><img src="/logo.png" alt="" /></h2>
      <h4>Administracion de proyectos</h4>
      <h4>Hora: V3 (LMV)</h5>
      <h4>Maestro: M.C Nydia Esther Ramírez Escamilla</h4>
      <h3><i>"Equipo 6"</i></h3>
      <div class="col-md-offset-4" align="left">
        <ul class="teamlist">
          <li>1589291-Brenda Elizabeth Molina Medina</li>
          <li>1586795-Rebeca Melissa Orozco Salaya</li>
          <li>1691471-Mario Alberto Ávila Rehlaender</li>
          <li>1691335-Jorge Manuel García Gracia</li>
        </ul>
      </div>

  </div>



    <%= link_to 'Regresar', :back, :class=>"btn btn-info" %>
</div>
