<div class="jumbotron" >
  <div class="" align="center">
    <h3> About Us:</h3>
    <!--<h3> Mæsoft, Organizacion comprometida con la excelencia orientada a aplicaciones web, es una pequeña Start Up creada
    en la Facultad de ingenieria Mecanica por un grupo de jovenes, dispuestos a crear y mejorar diferentes aspectos de la sociedad.
    </h3>
  <h3> La organizacion surgio a partir de una idea de tres jovenes emprendedores, cansados de ver como la sociedad iba en decadencia
    cada vez mas.-->
    <h1>MæSoft<h1>
      <h1 align="center"><img src="/applogo48px.png" alt="" /></h1>
  </div>



    <%= link_to 'Regresar', :back, :class=>"btn btn-info" %>
</div>
