<h1 class="text-center">Administración de Uni-Helper</h1>
<br>

<div class="row">
  <div class="jumbotron col-md-6 col-md-offset-3">
    <p>
      <%= link_to "Agregar escuela", new_school_path %>
    </p>

    <p>
      <%= link_to "Pagos de posts", promotions_path %>
    </p>
  </div>
</div>
