<h1 class="col-lg-offset-6">Home</h1>
<div class="jumbotron col-lg-6 col-md-offset-3">
  <p>Buscas? </p> <!-- #Agragar boton de path -->
  <h3>  <%= link_to 'Ofreces?' , new_post_path %><br> </h3>
</div>
