
<div class="jumbotron col-lg-6 col-md-offset-3">
  <h1 align="center">Bienvenido!</h1>
  <h3 align="center">"<%= current_user.name %>"</h3>
  <br>

  <div align="center">
    <p>
      ¿Hoy vamos a?
    </p>
    <p>
      <%= link_to 'Ver posts' , posts_path, :class=>"btn btn-material-green" %>
      <%= link_to 'Postear' , new_post_path, :class=>"btn btn-material-red" %>
      <%= link_to 'Mis posts' , posts_user_path(current_user.id), :class=>"btn btn-material-cyan" %>
    </p>
  </div>
</div>
