<%= link_to 'Promotion', promotion_path, class:"btn btn-danger"%>
<select class="btn btn-material-green" name="repoSel">
  <option>Reportes:</option>
  <option class="" id="" href="javascript:void(0)"> Posts </option>
  <option class="" id="" href="javascript:void(0)"> Eventos </option>
</select>
