<%= link_to 'Promotion', promotion_path, class:"btn btn-danger"%>
<%= link_to 'Cerrar sesion', admin_logout_path, method: "delete", class:"btn btn-danger"%>

<select class="btn btn-material-green" name="dropSchool">
  <option>Reportes:</option>
  <option class="" id="" href="javascript:void(0)"> Posts </option>
  <option class="" id="" href="javascript:void(0)"> Eventos </option>
</select>
