<% if logged_in_admin? %>
<%= render 'admin' %>
<% elsif logged_in? %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center under-navbar">Eventos</h1>
    </div>
</div>

  <div class="row under-navbar">
    <div class="jumbotron col-md-8 col-md-offset-2">
      <%= render 'events' %>
    </div>
  </div>
<% else %>
<% end %>
