<% @category_posts = CategoryPost.all %>
<% @category_posts.each do |category| %>
    <a class="btn btn-material-green" id="<%= category.name %>" href="<%= posts_category_post_path(category.id) %>">
          <% if category.name == "Busco" %>
            Vender
            <% elsif category.name == "Ofrezco" %>
            Comprar
            <% else %>
          <% end %>
        </a>
    <% end %>
