@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "custom.css.scss";
@import "category_posts.scss";
@import "events.scss";

.promotion_text{
  color: red;
  text-align: right;
}

.hide{
  display: none;
}
.move {
  top: 13px;
}
.rayita{
  color: #B6B6B6;
}

.fixed {
        position: fixed;
}

.tiny{
  font-size: 1.5rem;
}

.reportes{
  position: absolute;
  height: 80%;
}

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  #pdf_nel {
    display: none;
  }
}
