@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "custom.css.scss";
@import "category_posts.scss";
@import "events.scss";

.move {
  top: 13px;
}
.rayita{
  color: #B6B6B6;
}

.fixed {
        position: fixed;
}

.tiny{
  font-size: 1.5rem;
}

.reportes{
  position: absolute;
  height: 80%;
}
