// Place all the styles related to the category_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userlink {
  color: cyan;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

#post {
  margin-bottom: 5px;
}

.postpatrocinados_titulo{
  text-align: center;
}

#patrocinados{
  background-color: white;
  position: absolute;
  overflow: scroll;
  height: 100%,
}
