// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.eventlink {
  color: white;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

.eventlink:hover {
  text-decoration: none;
  color: cyan;
}

.red{
  border: 5px solid red;
}

#post {
  margin-bottom: 6px;
}

.mdi-action-launch{
  font-size: 15px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#eventposts{
  position: absolute;
  overflow: scroll;
  height: 80%;
}

#eventshow{
  height: 80%;
}

.leftmargin{
  margin-left: 2px;
}
